{% extends "layout.html" %}
{% block content %}

  <div class="content-section">

    <h1 class="border-bottom mb-4">Find Your Account</h1>

    <p class="text-muted">Please enter your email to find your Account</p>
    <form method="POST">
      <label for="email">Email: </label>
      <input type="email" name="email" class="change_password" id="email-reset" placeholder="Enter Email" minlength="1" maxlength="120" required>

      <input type="submit" value="Submit Email" id="change_password_submit">
    </form>
  </div>

{% endblock %}